<section id="profile">
    <img src="assets/imgs/samoyed.png" alt="banner" class="banner">
    <p class="phrase"> Trust the process. </p>

    <div class="about">
      <img src="assets/imgs/aboutImg.jpg" alt="profilePicture" class="profile">
      <div class="aboutInfo">
          <h2> About myself</h2>
          <p> 
          My name is Luz Vergara <br>
              I am from Buenos Aires, Argentina. <br>
              I am starting my career as Front End Web Developer. <br> <br>

              I am a Sworn Translator and English Teacher, but I have decided to enter the world of technology, which I have always loved. <br>
              I also have experience in Customer Service. <br>
              About myself, I am a hard-working woman. I am a very patient person who knows how to deal with difficult situations; I always pay specific attention to details and have an approachable, cheerful and friendly attitude.<br>
              I like to expand my knowledge whenever I can, so I am currently studying to be a Full Stack Web Developer.
              </p>
      </div>
    </div>
  </section>