#experience {
    background-color: black;
    color: white;
    padding: 100px;

    h2 {
        font-family: 'Special Elite', cursive;
        font-size: 36px;

    }

    li {
        font-family: 'Inconsolata', monospace;
        list-style: none;
        
    }
}